.image {
  width: 180px;
  height: auto;
  padding: 10px;
  border: solid 1px whitesmoke;
}

.description {
  padding: 15px;
  text-align: center;
}

.like-button {
  margin: 5px;
  background-color: whitesmoke;
}

.description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
}

.likes-field {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
