.App {
  text-align: center;
  background-color: rgb(56, 4, 33);
}

.App-header {
  padding: 3em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .gallery-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
} */
